
body {
    background-color: #f6f5f5;
    font-family: sans-serif;
    padding: 10px;
}

header {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
}

#clean-button, #add-button, .delete-button {
    border-style: none;
    border-radius: 20px;
    background-color: #1687a7;
    color: #f6f5f5;
    padding: 5px 10px;
    transition: opacity 0.15s;
    font-weight: bold;
    cursor: pointer;
}

#add-button {padding:5px 10px;}
.delete-button {margin-left: 200px;}

#clean-button:hover, 
#add-button:hover, 
.delete-button:hover 
{
    opacity: 0.5;
}



