
body {
    background-color: #f6f5f5;
    font-family: sans-serif;
    padding: 10px;
}

header, #order-info {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
}

#order-info {
    flex: 14%;
    font-size: smaller;
    font-weight: bold;
}

#clean-button, #add-button{
    border-style: none;
    border-radius: 20px;
    background-color: #1687a7;
    color: #f6f5f5;
    padding: 5px 10px;
    transition: opacity 0.15s;
    font-weight: bold;
    cursor: pointer;
}

#add-button {padding:5px 10px;}

#clean-button:hover, #add-button:hover {
    opacity: 0.5;
}

#wrapper > div:first-child {
    width: 10%;
    display: inline-block;
}


#order-list-wrapper {
    display: inline-flex;
    flex-flow: column-reverse;
}
